<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorial Bakery</title>
</head>

<body>
  <header th:insert="fragments/page_header::page-header"></header>
  <main>
    <h2 class="page-title text-center">マイページ</h2>
    <div class="container-fluid d-flex justify-content-center table-responsive-md">
      <table class="table table-hover table-bordered text-center" th:object="${user}">
        <tr>
          <th scope="row">氏名</th>
          <td>
            <span th:text="*{familyName}"></span>
            <span th:text="*{firstName}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">ふりがな</th>
          <td>
            <span th:text="*{familyNameKana}"></span>
            <span th:text="*{firstNameKana}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">性別</th>
          <td th:text="*{gender == 0 ? '男性' : '女性'}"></td>
        </tr>
        <tr>
          <th scope="row">ユーザ名</th>
          <td>
            <span th:text="*{userName}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">パスワード</th>
          <th>
            <span id="password"></span><a href="">パスワード再設定</a>
            <input type="hidden" id="hiddenPassword" th:value="*{password}">
          </th>
        </tr>
      </table>
    </div>

  </main>
  <footer th:insert="fragments/page_footer.html::page-footer"></footer>
</body>
<script th:inline="javascript">
  $(() => {

    /* 実際のパスワードの文字数分 「*」 を表示する */
    let password = $('#hiddenPassword').val();
    let asters = '';
    for (let i = 0; i < password.length; i++) {
      asters += '*';
      console.log(asters);
    }
    $('#password').html(asters);

    // $('#resetPassword').dialog(dialogConfig.resetPassword);

    // $('a.resetPassword').on('click', (e) => {
    //   $("#resetPassword").dialog("open");
    // });
  });
</script>

</html>
