<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorial Bakery</title>
</head>

<body>
  <header th:insert="fragments/page_header::page-header"></header>
  <main>
    <div class="container text-center mt-5">
      <div class="page-title-area">
        <h2 class="page-title">新規ユーザ登録</h2>
      </div>
      <table class="table table-hover table-bordered text-center table-responsive-md">
        <tr>
          <th scope="row">氏名</th>
          <td>
            <input type="text" id="newFamilyName" name="familyName" placeholder="山田" maxlength="16" />
            <input type="text" id="newFirstName" name="firstName" placeholder="太郎" maxlength="16" />
          </td>
        </tr>
        <tr>
          <th scope="row">ふりがな</th>
          <td>
            <input type="text" id="newfamilyNameKana" name="familyNameKana" placeholder="やまだ" maxlength="16" />
            <input type="text" id="newFirstNameKana" name="firstNameKana" placeholder="たろう" maxlength="16" />
          </td>
        </tr>
        <tr>
          <th>性別</th>
          <td>
            <label><input type="radio" name="gender" value="男性" checked />男性</label>
            <label><input type="radio" name="gender" value="女性" />女性</label>
          </td>
        </tr>
        <tr>
          <th scope="row">ユーザ名</th>
          <td>
            <input type="text" id="newUserName" name="userName" placeholder="taro2020abc" maxlength="32" />
            <button id="checkUserName" class="btn btn-primary">重複確認</button>
            <span id="checkOK" class="hidden">OK</span>
          </td>
        </tr>
        <tr>
          <th scope="row">パスワード</th>
          <td>
            <input type="password" id="newPassword" name="password" placeholder="パスワード" maxlength="16" />
          </td>
        </tr>
      </table>
      <div class="btn-area">
        <a type="button" id="back-btn" class="btn btn-primary m-3" href="javascript:history.back();">戻る</a>
        <button id="confirm-btn" class="btn btn-success" disabled>確認する</button>
      </div>
    </div>
    <!-- Modal Dialog (入力内容確認) -->
    <div th:insert="fragments/dialog_input_user_confirm::dialog-input-user-confirm"></div>
  </main>
  <footer th:insert="fragments/page_footer.html::page-footer"></footer>

  <script type="text/javascript">
    $(function () {
      $('#checkUserName').on('click', function () {
        let userName = $('#newUserName').val(); // Java側でFormを使って受け取る必要のない時は、JSON.stringifyせずにそのままそのまま取得した値をパラメーターとして渡して、java側でも普通に受け取ってしまえばいい
        $.ajax({
          type: 'POST',
          url: '/portfolio/user/check',
          data: userName,
          dataType: 'json',
          contentType: 'application/json'
        }).done(function (boolean) {
          if (boolean == true) {
            bootbox.alert('入力されたユーザ名は既に使用されています。別のユーザ名をお試しください');
          } else {
            bootbox.alert('入力されたユーザ名は使用できます');
            $('#confirm-btn').prop('disabled', false);
          }
        }).fail(function (boolean) {
          console.log('ajax通信に失敗しました');
        }).always(function (boolean) {
          console.log('ajax通信をしました');
        });
      });

      $('#dialog').dialog({
        autoOpen: false,
        modal: true,
        width: 800,
        minWidth: 600,
        buttons: [
          {
            text: '登録する',
            "class": "btn btn-success",
            click: function () {
              // let jsonString = {

              // }
              console.log("hello");
            }
          },
          {
            text: '戻って修正する',
            "class": "btn btn-secondary",
            click: function () {
              $(this).dialog('close');
            }
          }
        ],
        open: function () {
          $('#familyNameConfirm').text($('#newFamilyName').val());
          $('#firstNameConfirm').text($('#newFirstName').val());
          $('#familyNameKanaConfirm').text($('#newFamilyNameKana').val());
          $('#firstNameKanaConfirm').text($('#newFirstNameKana').val());
          $('#gender').text($('input[name=gender]:checked').val());
          $('#userNameConfirm').text($('#newUserName').val());
          $('#passwordConfirm').text($('#newPassword').val());
        }
      });

      $('#confirm-btn').on('click', function () {
        $('#dialog').dialog('open');
      });
    });
  </script>
</body>

</html>
