<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Angular Bakery</title>
</head>
<body>

<th:block th:fragment="dialog-input-destination-confirm">
	<div id="dialog" title="入力内容確認" class="hidden">
		<table class="table table-bordered table-hover table-responsive-md text-center">
			<tr>
				<th scope="row">宛先氏名</th>
				<td>
					<span id="familyNameConfirm"></span>
					<span id="firstNameConfirm"></span>
				</td>
			</tr>
			<tr scope="row">
				<th>住所</th>
				<td>
					<span id="addressConfirm"></span>
				</td>
			</tr>
			<tr scope="row">
				<th>電話番号</th>
				<td>
					<span id="telNumberConfrim"></span>
				</td>
			</tr>
		</table>
	</div>
</th:block>

<script>
  // $(function() {
  //   $('#familyNameConfirm').text($('#familyName'));
  //   $('#firstNameConfirm').text($('#firstName').val());
  //   $('#addressConfirm').text($('#address').val());
  //   $('#telNumberConfirm').text($('#telNumber').val());

  //   $('table').on('blur', function() {
  //     console.log('aaaaaaaaa');
  //   });
  // });
</script>

</body>
</html>
