<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Tutorial Bakery</title>
</head>

<body>
  <th:block th:fragment="page-header">
    <!-- ↓Bootstrap CSSの読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- ↓CSSの読み込み -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <!-- ↓jQueryUIのCSS読み込み -->
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <link rel="stylesheet" href="/css/custom-theme/jquery-ui-1.10.0.custom.css">
    <!-- ↓fontawsome読み込み -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- ↓jQueryの読み込み -->
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- ↓jQuery UI の読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- ↓Bootstrap JS の読み込み -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- ↓Bootbox JS の読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
    <script th:src="@{/js/dialogConfig.js}"></script>
    <script th:inline="javascript" defer>
      /*<![CDATA[*/
      $(() => {
        $('#loginError').dialog(dialogConfig.loginError);

        // ログインボタン押下後の処理
        $('#login').on('click', () => {
          let jsonString = {
            'userName': $('#userName').val(),
            'password': $('#password').val()
          };
          $.ajax({
            type: 'POST',
            url: '/tutorial/auth/login',
            data: JSON.stringify(jsonString),
            contentType: 'application/json',
            dataType: 'json'
          }).done(function (data) {
            let user = data;
            if (jQuery.isEmptyObject(user)) {
              $('#hiddenUserName').val('');
              $('#loginError').dialog('open');
            } else {
              $('#hiddenUserName').val(user['userName']); // 「json['項目名']」で値を取得できる
              login(user);
            }
          }).fail(function (data) {
            alert('Error: ajax通信に失敗しました');
          }).always(function (data) {
            console.log("ajax通信しました");
          });
        });

        $('#logout').on('click', () => {
          var url = '/tutorial/auth/logout';
          $.ajax({
            type: 'POST',
            url: '/tutorial/auth/logout',
            contentType: 'application/json',
            dataType: 'text' // ajaxで通信する際にパラメーターがない場合には、「dataType:'text'」を指定する
          }).done(function (data) {
            $('#hiddenUserName').val('');
            alert('ログアウトしました');
            location.replace('/index/refresh');
          }).fail(function (jqXHR, textStatus, errorThrown) {
            alert('ajax通信に失敗しました');
            console.log("jqXHR          : " + jqXHR.status); // HTTPステータスが取得
            console.log("textStatus     : " + textStatus);    // タイムアウト、パースエラー
            console.log("errorThrown    : " + errorThrown.message); // 例外情報
            console.log("URL            : " + url);
          }).always(function (data) {
            console.log('ajax通信しました');
          });
        });
      });

      function login(user) {
        let userName = user['userName'];
        $('#welcome-message').text(`ようこそ！ ${userName} さん`);
        let loginChecker = $('#login').prop('class'); // .prop()はidとかclassとかの属性の値を取得する。この行で言えば、#loginのclass="XXX"の「XXX」の部分を取得
        if (loginChecker != 'hidden') {
          $('#login').addClass('hidden');
          $('#logout').removeClass('hidden').addClass('btn color-white btn-success my-2 my-sm-0');
        }
        $('#mypage-btn').removeClass('hidden').addClass('nav-link btn color-white btn-info p-2 mr-2');
        $('#userName').val('');
        $('#password').val('');
      }


      /*]]>*/
    </script>

    <div class="header-box">
      <h1 id="header-logo">
        <a th:href="@{/index/refresh}">Tutorial Bakery</a>
      </h1>
      <div class="header-right float-right">
        <p id="signup">
          <a th:href="@{/tutorial/user/}">新規ユーザ登録はこちら</a>
        </p>
        <p id="welcome-message"
          th:text="'ようこそ！' + ${loginSession.isLogined() == false ? 'ゲストさん' : loginSession.getUserName() + 'さん'}"></p>
      </div>
    </div>

    <nav class="navbar justify-content-end">
      <form action="" class="form-inline">
        <input id="userName" name="userName" type="text" class="form-control mr-sm-2" placeholder="ユーザ名"
          aria-label="userName">
        <input id="password" name="password" type="password" class="form-control mr-sm-2" placeholder="パスワード"
          aria-label="password">
        <input type="hidden" name="hiddenUserName" id="hiddenUserName" value="">
        <!-- ↓ログイン情報の有無で、display:noneのhiddenクラスを付与 -->
        <!-- ↓th:classをつけてしまうとclassが適応されなくなる -->
        <button id="login" type="button"
          th:class="${loginSession.isLogined() == false ? 'btn btn-success my-2 my-sm-0' : 'hidden'}">ログイン</button>
        <button id="logout" type="button"
          th:class="${loginSession.isLogined() == true ? 'btn btn-secondary my-2 my-sm-0' : 'hidden'}">ログアウト</button>
      </form>
    </nav>
    <nav class="">
      <ul class="navbar-nav mr-auto -flex flex-row justify-content-end">
        <li class="nav-item"><a id="mypage-btn" th:href="@{/tutorial/mypage/}"
            th:class="${loginSession.isLogined() == true ? 'nav-link btn color-white btn-info p-2 mr-2' : 'hidden'}">マイページ</a></li>
        <li id="cart-btn" class="nav-item"><a th:href="@{/tutorial/cart/}"
            class="nav-link btn color-white btn-primary p-2 mr-3">カート</a>
        </li>
      </ul>
    </nav>
    <!-- Modal Dialog (ログインエラー) -->
    <div th:insert="fragments/dialog_login_error::dialog-login-error"></div>
  </th:block>


</body>

</html>
