<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Tutorial Bakery</title>
</head>

<body>

  <th:block th:fragment="page-header">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <div class="header-box">
      <h1 id="header-logo">
        <a th:href="@{/index}">Tutorial Bakery</a>
      </h1>
      <span id="signup">
        <a th:href="@{/index/userRegister}">新規ユーザ登録はこちら</a>
      </span>
      <span id="welcome-message"
        th:text="'ようこそ！' + ${loginSession.isLogin() == false ? 'ゲストさん' : 'loginSession.getUserName()' + さん'}"></span>
    </div>

    <nav class="navbar navbar-light bg-light">
      <form action="" class="form-inline">
        <input type="text" class="form-control mr-sm-2" placeholder="ユーザ名" aria-label="userName">
        <input type="password" class="form-control mr-sm-2" placeholder="パスワード" aria-label="password">
        <!-- ↓ログイン情報の有無で、display:noneのhiddenクラスを付与 -->
        <button id="login" class="btn btn-ouline-success my-2 my-sm-0" type="button"
          th:class="${loginSession.isLogin() == null ? '' : 'hidden'}">ログイン</button>
        <button id="logout" class="btn btn-ouline-success my-2 my-sm-0" type="button"
          th:class="${loginSession.isLogin() != null ? '' : 'hidden'}">ログアウト</button>
      </form>
      <ul class="navbar-nav mr-auto">
        <li id="cart-btn" class="nav-item"><a th:href="@{/index/cart}" class="nav-link btn btn-primary">カート</a></li>
        <li id="mypage-btn" class="nav-item" th:class="${loginSession.isLogin() != null ? '' : 'hidden'}"><a
            th:href="@{/index/mypage}" class="nav-link btn btn-primary">マイページ</a></li>
      </ul>
    </nav>



  </th:block>


</body>

</html>
