/* css %
cd tutorial/src/main/resources/static/css
node-sass styles.scss styles.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/
html {
  padding: 1rem;
}

.hidden {
  display: none;
}

#header-logo,
.header-right {
  display: inline-block;
}

.header-right p {
  margin-bottom: 0.25rem;
}

// 商品画像のふちぼかし
.frame {
  display: inline-block;
  position: relative;
  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    box-shadow: inset 0 0 20px #fff /* 背景色と同じ色 */, inset 0 0 20px #fff, inset 0 0 20px #fff, inset 0 0 20px #fff;
  }
  a {
    border-radius: 0.25rem;
  }
  img {
    border-radius: 0.25rem;
  }
}

// テーブル内の文字上下中央揃え
tr {
  td {
    vertical-align: middle !important;
  }
}

.btn-warning {
  color: gray !important;
}

input {
  text-align: center;
  border-radius: 0.25rem;
  border: solid 1px lightgray;
}

a:hover {
  text-decoration: none;
}

.color-white {
  color: white !important;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px black solid;
}

.form-input {
  width: 90%;
}

.modal-footer {
  border-top: none;
}

.ui-dialog-buttonset {
  .btn {
    border-radius: 0.25rem;
    border: none;
    padding-right: 1rem;
    padding-left: 1rem;
    background-image: none;
  }
  &.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  &.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  &.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }

  &.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
  }

  &.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }

  .btn .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #ffffff;
  }
}
