<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Bakery</title>
</head>

<body>
  <header th:insert="fragments/page_header::page-header"></header>
  <main>
    <div class="container text-center mt-4">
      <div class="page-title-area text-center">
        <h2 class="page-title">宛先登録</h2>
      </div>
      <table class="table table-hover table-bordered table-responsive-md text-center" th:object=${user}>
        <tr>
          <th scope="row">宛先氏名</th>
          <td>
            <input class="form-input" type="text" th:field="*{familyName}" placeholder="姓"
              pattern="^[^\uFF10-\uFF19\uFF21-\uFF3A\uFF41-\uFF5A\uFF61-\uFF9F]*$" title="全角英数と半角ｶﾀｶﾅは入力不可"
              maxlength="16" style="width: 45%;">
            <input class="form-input" type="text" th:field="*{firstName}" placeholder="名"
              pattern="^[^\uFF10-\uFF19\uFF21-\uFF3A\uFF41-\uFF5A\uFF61-\uFF9F]*$" title="全角英数と半角ｶﾀｶﾅは入力不可"
              maxlength="16" style="width: 45%;">
          </td>
        </tr>
        <tr>
          <th scope="row">住所</th>
          <td>
            <input class="form-input" type="text" id="address" name="address" placeholder="東京都千代田区四谷3-6-2"
              pattern="^[^\uFF10-\uFF19\uFF21-\uFF3A\uFF41-\uFF5A\uFF61-\uFF9F]*$" title="全角英数と半角ｶﾀｶﾅは入力不可"
              maxlength="50">
          </td>
        </tr>
        <tr>
          <th scope="row">電話番号<small class="ml-2">※半角数字(ハイフン有り)</small></th>
          <td>
            <input class="form-input" type="tel" id="telNumber" name="telNumber" placeholder="080-4593-4556"
              pattern="\d{2,4}-\d{2,4}-\d{3,4}" title="半角数字(ハイフンあり)で入力してください" maxlength="13">
          </td>
        </tr>
      </table>
      <div class="btn-area">
        <a type="button" id="back-btn" class="btn btn-primary m-2" href="javascript:history.back();">戻る</a>
        <button type="button" id="clear-btn" class="btn btn-warning m-2">クリア</button>
        <button type="button" id="open-confirm" class="btn btn-success m-2">確認</button>
      </div>
    </div>
    <!-- Modal Dialog (入力内容確認) -->
    <div th:insert="fragments/dialog_input_destination_confirm::dialog-input-destination-confirm"></div>
  </main>
  <footer th:insert="fragments/page_footer.html::page-footer"></footer>
  <script>
    $(function () {

      $('#clear-btn').on('click', function () {
        $('table').find('input').val(""); // tableタグ内の全てのinputの値を空にする
      });
      $('#dialog').dialog({
        autoOpen: false,
        modal: true,
        width: 800,
        minWidth: 600,
        buttons: [
          {
            text: '登録する',
            "class": "btn btn-success",
            click: function () {
              let jsonString = {
                'familyName': $('#familyName').val(),
                'firstName': $('#firstName').val(),
                'address': $('#address').val(),
                'telNumber': $('#telNumber').val()
              };
              $.ajax({
                type: 'POST',
                url: '/portfolio/destination/register',
                data: JSON.stringify(jsonString),
                contentType: 'application/json',
                dataType: 'json',
              }).done(function (data) {
                alert('新規宛先を登録しました');
                location.href = '/portfolio/purchase';
              }).fail(function (data) {
                alert('ajax通信に失敗しました');
              }).always(function (data) {
                console.log('ajax通信しました');
              });
              $(this).dialog('close');
            }
          },
          {
            text: '戻って修正する',
            "class":"btn btn-secondary",
            click: function () {
              $(this).dialog('close');
            }
          }
        ],
        // ↓以下のようにopen: function() {}とすることでダイアログを開いた時の処理を実行できる
        open: function (event, ui) {
          $('#familyNameConfirm').text($('#familyName').val());
          $('#firstNameConfirm').text($('#firstName').val());
          $('#addressConfirm').text($('#address').val());
          $('#telNumberConfirm').text($('#telNumber').val());
        }
      });

      $('#open-confirm').click(function () {
        $('#dialog').dialog('open');
        //   bootbox.confirm({
        //     title: "入力内容確認",
        //     backdrop: true,
        //     centerVertical: true,
        //     message: "登録内容はこちらで間違い無いですか？",
        //     locale: 'ja',
        //     buttons: {
        //       confirm: {
        //         label: '<i class="fa fa-check"></i> 登録',
        //         className: 'btn-success'
        //       },
        //       cancel: {
        //         label: '<i class="fa fa-times"></i> 戻って修正',
        //         className: 'btn-warning'
        //       }
        //     },
        //     callback: function (result) {
        //       if (result) {
        //         let jsonString = {
        //           'familyName': $('#familyName').val(), // jsonの値として使用するには.val()をElementbについないとjson parseエラーになる
        //           'firstName': $('#firstName').val(),
        //           'address': $('#address').val(),
        //           'telNumber': $('#telNumber').val()
        //         };
        //         $.ajax({
        //           type: 'POST',
        //           url: '/portfolio/destination/register',
        //           data: JSON.stringify(jsonString),
        //           contentType: 'application/json',
        //           dataType: 'json',
        //         }).done(function (data) {
        //           bootbox.alert('新規宛先を登録しました', function () {
        //             location.href = '/portfolio/purchase';
        //           });
        //         }).fail(function (data) {
        //           alert('ajax通信に失敗しました');
        //         }).always(function (data) {
        //           console.log('ajax通信しました');
        //         });
        //       } else {
        //         console.log('NO');
        //       }
        //     }
        //   });
      });

      $(".button-color button").button();
    });
  </script>
</body>

</html>
