<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Bakery</title>
</head>

<body>
  <header th:insert="fragments/page_header::page-header"></header>
  <main>
    <div class="d-flex justify-content-center align-items-center">
      <h2 class="page-title text-center mb-0">マイページ</h2>
      <form th:action="@{/portfolio/history}" method="GET" class="form-inline">
        <button class="btn btn-warning m-3">購入履歴を見る</button>
      </form>
    </div>

    <div class="container-fluid d-flex justify-content-center table-responsive-md">
      <table class="table table-hover table-bordered text-center" th:object="${user}">
        <tr>
          <th scope="row">氏名</th>
          <td>
            <span th:text="*{familyName}"></span>
            <span th:text="*{firstName}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">ふりがな</th>
          <td>
            <span th:text="*{familyNameKana}"></span>
            <span th:text="*{firstNameKana}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">性別</th>
          <td th:text="*{gender == 0 ? '男性' : '女性'}"></td>
        </tr>
        <tr>
          <th scope="row">ユーザ名</th>
          <td>
            <span th:text="*{userName}"></span>
          </td>
        </tr>
        <tr>
          <th scope="row">パスワード</th>
          <th>
            <span id="asters"></span><small><a href="">パスワード再設定</a></small>
          </th>
        </tr>
      </table>
    </div>

  </main>
  <footer th:insert="fragments/page_footer.html::page-footer"></footer>
</body>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(() => {

    /* 実際のパスワードの文字数分 「*」 を表示する */
    let password = /*[[${user.password}]]*/ 'password';
    let asters = '';
    for (let i = 0; i < password.length; i++) {
      asters += '*';
      console.log(asters);
    }
    $('#asters').text(asters);

    // $('#resetPassword').dialog(dialogConfig.resetPassword);

    // $('a.resetPassword').on('click', (e) => {
    //   $("#resetPassword").dialog("open");
    // });
  });
  /*]]>*/
</script>

</html>
