<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Bakery</title>
</head>

<body>
  <header th:insert="fragments/page_header::page-header"></header>
  <main>
    <div class="container text-cetner">
      <div class="text-center">
        <h2 th:if="${destinations.size() > 0}" class="page-title">宛先を選択してください</h2>
        <p th:if="${destinations.size() > 0}" class="info">宛先の新規登録、削除も可能です</p>
        <p th:if="${destinations.size() == 0}" class="info">宛先情報がありません、新規登録してください</p>
      </div>
      <table class="table table-hover table-bordered table-responsive-md text-center" th:if="${destinations.size() > 0}">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width: 10%;">選択</th>
            <th scope="col" style="width: 20%;">宛先氏名</th>
            <th scope="col" style="width: 20%;">電話番号</th>
            <th scope="col" style="width: 50%;">住所</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="destination, stat: ${destinations}" th:object="${destination}"><!-- stautsをこのようにつけることでループの状態を確認できる変数を追加。https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html 参照-->
            <td>
              <input type="radio" class="radio" th:id="'radio-btn-' + ${stat.count}" name="destinationId" th:value="*{id}" th:checked="${stat.count==1}"> <!-- status.count==1 で先頭のレコードにチェックつける。th:field="*{id}"とするとth:checked="${stat.count==1}"が効かなくなるため、th:id="'radio-btn-' + ${stat.count}"を採用-->
            </td>
            <td>
              <span th:text="*{familyName}"></span>&nbsp;<span th:text="*{firstName}"></span>
            </td>
            <td th:text="*{telNumber}"></td>
            <td th:text="*{address}"></td>
          </tr>
        </tbody>
      </table>
      <div class="btn-area d-flex justify-content-center text-center align-items-center">
        <a type="button" id="back-btn" class="btn btn-primary m-3" href="javascript:history.back();">戻る</a>
        <button type="button" id="delete-btn" class="btn btn-warning mr-3" th:if="${destinations.size() > 0}">削除</button>
        <form name="destinationForm" th:action="@{/portfolio/destination}" class="d-inline mr-3">
          <button id="destination-register-btn" class="btn btn-info" type="submit">新規宛先登録</button>
        </form>
        <button type="button" id="settlement-button" class="btn btn-success mr-3">決済</button>
      </div>
    </div>
  </main>
  <footer th:insert="fragments/page_footer.html::page-footer"></footer>
  <script>
    $(function () {
      $('#delete-btn').on('click', function() {
        let checked = $('.radio:checked'); // チェックのついたラジオボタンの値を取得
        let destinationId = $(checked).val();
        deleteDestination(checked, destinationId);
      });

      $('#settlement-button').on('click', function() {
        let checked = $('.radio:checked'); // チェックのついたラジオボタンの値を取得
        let destinationId = $(checked).val();
        settlePayament(destinationId);
      });

      function deleteDestination(checked, destinationId) {
        $.ajax({
          type:'POST',
          url: '/portfolio/purchase/delete',
          data: destinationId,
          dataType: 'json',
          contentType: 'application/json'
        }).done(function(data) {
          $(checked).parent().parent().remove();
          alert(`${data}件の宛先を削除しました`);
          location.replace('/portfolio/purchase/');
        }).fail(function(){
          alert("ajax通信に失敗しました");
        }).always(function(){
          console.log("ajax通信しました");
        });
      };

      function settlePayament(destinationId) {
        $.ajax({
          type:'POST',
          url: '/portfolio/purchase/settle',
          data: destinationId,
          dataType: 'json',
          contentType: 'application/json'
        }).done(function(data) {
          bootbox.alert(`${data}件の決済が完了しました。購入履歴ページに移動します`, function () {
            location.href = '/portfolio/history'
          })
        }).fail(function(data) {
          bootbox.alert("ajax通信に失敗しました");
        }).always(function(data) {
          console.log("ajax通信しました");
        });
      };
    });
  </script>
</body>

</html>
